@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* background-color: #00520A; */
*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #e4e8e9;
    margin: 0;
}
.header{
    position: sticky;
    width: 100%;
    top: 0;
    margin: 0;
    z-index: 100;
    transition: transform 0.2s ease;
}
.nav-logo{
    text-decoration: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #00520A;
    padding: 10px 20px;
}
.nav-list{
    background-color: #00520A;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.nav-list li{
    background-color: transparent;
    margin: 0 10px;
}
.nav-links{
    position: relative;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
    transition: transform 0.2s ease;
    background-color: transparent;
    z-index: 1;
}
.nav-links::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: rgb(59, 155, 72);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 0.4s;
}
.nav-links:hover{
    transform: scale(1.15);
}
.nav-links:hover::after{
    width: 60%;
}

.nav-close,
.nav-toggle {
  display: none;
}
.footer{
    position: sticky;
    padding: 20px;
    width: 100%;
    height: 42.9vh;
    background-color: #042408;
}
.footer-contents{
    display: flex;
    justify-content: space-around;
    background-color: #042408;
    height: 90%;
}
.footer hr{
    position: absolute;
    left: 15px;
    right: 15px;
}
.footer .rights{
    position: relative;
    top: 10px;
}
.footer-left,
.footer-right{
    background: transparent;
    background-color: transparent;
    position: relative;
    top: 40px;
    left: -250px;
    height: 180px;
}
.footer-right{
    position: relative;
    left: 80px;
}
.footer-logo,
.footer-address{
    background-color: transparent;
    margin: 5px;
}
.footer-logo a{
    font-style: italic;
    font-size: 25px;
    text-decoration: none;
    color: white;
    background-color: transparent;
}
.footer-address p,span{
    background-color: transparent;
    color: white;
}
.footer-address p span{
    font-weight: bold;
}
.footer-allLinks ul{
    list-style: none;
    background-color: #042408;
}
.footer-allLinks ul li{
    background-color: transparent;
    padding: 5px;
    transition: transform 0.4s ease;
}
.footer-allLinks ul li a{
    font-size: 16px;
    background-color: transparent;
    color: white;
    text-decoration: none;
}
.footer-allLinks ul li:hover{
    transform: scale(1.12);
}


/* @media (max-width: 720px) {
  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 20%;
    height: 100vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 1001;
  }
  .nav-menu.show {
    right: 0;
  }
  .show-menu {
    right: 0;
  }

  .nav-list {
    flex-direction: column;
    margin-top: 60px;
    width: 100%;
  }
  .nav-list li {
    width: 100%;
    text-align: left;
    margin: 10px 0;
    padding: 10px 20px;
  }

  .nav-links {
    font-size: 20px;
    padding: 10px 0;
    display: block;
    width: 100%;
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  .nav-links:hover::after {
    width: 60%;
  }
  .nav-close {
    display: block;
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1003;
  }

  .nav-toggle {
    display: block;
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    top: 18px;
    right: 25px;
    z-index: 1001;
  }
} */
 
@media(max-width: 1020px) {
    .nav-bar span{
        font-size: 22px;
    }
    .nav-links ul li{
        font-size: 18px;
        margin: 5px;
    }
    .upper-content h3{
        font-size: 25px;
    }
    .upper-content p{
        font-size: 20px;
    }
    .contact-btn{
        padding: 5px;
        font-size: 16px;
        max-width: 150px;
    }
    .middle-part {
        max-width: 70%;
    }
    .middle-part h2{
        font-size: 1.8rem;
    }
    .middle-part p{
        max-width: 100%;
        font-size: 20px;
    }
    .about-btn{
        padding: 8px;
        font-size: 18px;
        max-width: 150px;
    }
    
} 