.main-container {
    width: 100%;
    height: 50vh;
}
.contact-card {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
}
.card {
    display: flex;
    gap: 10px;
    background: none;
    background-color: #fff;
    border-radius: 12px;
    padding: 35px 40px;
    box-shadow: 0 8px 18px rgba(98, 180, 111, 0.253);
}
.left-side{
    background-color: #fff;
    width: 50%;
    margin-top: 50px;
}
.left-side h2,
.left-side h5,
.left-side p{
    padding: 5px 10px;
    background-color: transparent;
}
.left-side h2,
.left-side h5{
    font-weight: bold;
}
.left-side p{
    text-align: justify;
}
.right-side{
    background-color: #fff;
    width: 50%;
}
.form-card{
    background-color: #b6b6b650;
    padding: 20px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: transparent;
}
.contact-form .user{
    display: flex;
    gap: 10px;
    background-color: transparent;
}
.form-card input[type="text"],
.form-card textarea {
  padding: 10px;
  font-size: 14px;
  background-color: #fff;
  border: 0.5px solid #bebebe;
  border-radius: 3px;
  flex: 1;
  outline: none;
}
.form-card textarea {
  resize: vertical;
  min-height: 80px;
}
.form-card input[type="submit"]{
    background-color: green;
    color: rgb(243, 242, 242);
    padding: 5px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    border-radius: 2px;
    cursor: pointer;
}
.form-card input[type="submit"]:hover{
    background-color: darkgreen;
}