@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Home page css */
.upper-part {
    position: relative;
    background-image: url('https://images.pexels.com/photos/122107/pexels-photo-122107.jpeg?cs=srgb&dl=pexels-rushow-122107.jpg&fm=jpg');
    height: 50vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    /* color: white; */
}
.upper-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 5%;
    background: none;
}
.upper-content h3{
    margin: 10px;
    max-width: 50%;
    background: none;
    color: white;
    font-size: 35px;
    font-weight: bold;
}
.upper-content p{
    margin: 10px;
    max-width: 50%;
    background: none;
    color: white;
    font-size: 25px;
}
.contact-btn{
    background-color: #00520A;
    color: white;
    max-width: 200px;
    margin-top: 15px;
    margin-left: 12px;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    transform: scale(1.05);
    transition: background-color 0.2s ease, transform 0.1s ease;
}
.contact-btn:hover{
    cursor: pointer;
    background-color: #9c280b;
    color: white;
    transform: scale(1.1);
}
.middle-part {
    margin: 0 auto;
    height: 80vh;
    margin-top: 100px;
    text-align: center;
    max-width: 50%;
}
.middle-part h2 span{
    font-weight: bold;
    color: #00520A;
}
.middle-part h2{
    font-size: 40px;
    font-weight: bold;
}
.middle-part p{
    font-size: 25px;
    text-align: justify;
}
.about-btn{
    background-color: #00520A;
    color: white;
    width: 20%;
    margin-top: 15px;
    padding: 12px;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    transform: scale(1.05);
    transition: background-color 0.2s ease, transform 0.1s ease;
}
.about-btn:hover{
    cursor: pointer;
    background-color: #9c280b;
    color: white;
    transform: scale(1.1);
}
.nav-close,
.nav-toggle {
  display: none;
}